*{
	margin:0;
	padding:0;
}

body{
	font:17px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:left;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

ul
{
    list-style-type: none;
	margin: 10px;
}

.content {
	margin: 5px 0px 5px 10px;
}

h2{
	margin: 5px 0px 5px 10px;
}

html {
    font-size: 100%;
}

.valikko {
	/*color:#389dc1;*/
}

.julk {
    font-size: 1rem;
    font-style: italic;
    margin-left: 30px;
}

.nimike {
    font-size: 1rem;
}

.alkupnimi {
    font-size: 1.1rem;
    font-weight:bold;
    margin-bottom: 5px;
}

.tekija {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top:12px;
}

.list-item {
    margin-bottom: 35px;
}

/*-------------------------
	The menu
--------------------------*/

nav{
	display:inline-block;
	margin:0px auto 5px;
	background-color:#5597b4;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
}

nav h1{
	text-align: center;
}

nav a{
	display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}

nav.menu .menu{
	background-color:#e35885;
}

p{
	font-size:22px;
	font-weight:bold;
	color:#7d9098;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#c4d7e0;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}

.menuClass {
       visibility: visible
    }

.contentClass {
       visibility: hidden
   }
   
   
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

